# git-cliff ~ configuration file
# https://git-cliff.org/docs/configuration

[git]
# Ignore pre-release tags - moves their commits into the next stable release
# This ensures v0.5.0 shows all changes since v0.4.0 (including RC commits)
ignore_tags = "rc"
# Only consider stable version tags when determining previous/next versions
tag_pattern = "v[0-9]+\\.[0-9]+\\.[0-9]+$"

[changelog]
# A Tera template to be rendered for each release in the changelog.
# See https://keats.github.io/tera/docs/#introduction
body = """
{% if version %}\
  ## {{ version | trim_start_matches(pat="v") }} - {{ timestamp | date(format="%Y-%m-%d") }}\
{% else %}\
  ## Unreleased\
{% endif %}\

{% if tag_message -%}
{{ tag_message }}

{% endif -%}

{% for group, commits in commits | group_by(attribute="group") %}
  ### {{ group | striptags | trim }}
  {% for commit in commits -%}
  - **{{ commit.message | split(pat="\n") | first | trim }}**
  {%- if commit.body %}
    > {{ commit.body | trim | split(pat="\n\n") | first | replace(from="\n", to=" ") | trim }}
  {%- endif %}
  {% endfor -%}
{% endfor -%}
"""
