@font-face {
  font-family: "Micro5";
  src: url("@/assets/fonts/Micro5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --font-alt: "Micro5";
  --font-size-2xs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.75rem; /* 28px */
  --font-size-4xl: 2rem; /* 32px */
  --font-size-5xl: 2.25rem; /* 36px */
  --font-size-6xl: 2.5rem; /* 40px */
  --font-size-7xl: 3rem; /* 48px */
  --font-size-8xl: 3.5rem; /* 56px */
  --font-size-9xl: 4rem; /* 64px */
  --font-size-10xl: 4.5rem; /* 72px */
  --font-size-11xl: 5rem; /* 80px */
  --font-size-12xl: 6rem; /* 96px */

  --z-index-base: 0;
  --z-index-draggable-area: 100;
  --z-index-ui-elements: 200;
}
